body{
    background-color:rgb(122, 189, 145);
}

h1{
    color: rgb(6, 58, 58);
    text-align: center;
    padding: 20px;
    margin: 0;
}
.calc{

    height: 500px;
    width: 400px;
    background-color: rgb(17, 75, 92);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
.display{
    background-color: rgb(207, 230, 250);
    height: 25%;
    text-align: right;
    position: relative;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
   
   margin: 10px ;
     
}
.currentOp{
   
      
    margin-bottom: 10px;
    font-size: 50px;
    
   
    
}
.lastOp{
margin-top: 5px;
margin-right: 10px;
height: 25px;
padding: 5px 5px;
font-size: 20px;

}

.operations{
    padding: 4px 0 0;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    height: 69%;
    margin:  10px ;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    width: 75%;
    padding: 3px;
    
}

.edit{
    display: flex;
    gap: 3px;
    height: 60px;
    text-align: center;
}
.clear, .delete{
    background-color: rgb(159, 185, 208);
    width: 50%;
    border-radius: 8px;

}
button{
    border-radius: 8px;
}
.numbers{
    display: flex;
    text-align: center;
    gap: 1.5px;
    flex-wrap: wrap;
    
    
}
.buttomNmbrs{
    display: flex;
    text-align: center;
    gap: 3px;
}
#zero, #dot {
    background-color: rgb(159, 185, 208);
    font-size: larger;
    width: 50%;
    height: 60px;
}
#zero:hover, #dot:hover{
    transform: scale(1.02);
    background-color: rgb(207, 230, 250);
}
.num{
    background-color: rgb(159, 185, 208);
    height: 60px;
    width: 32.9%;
    align-items: center;
    font-size: larger;
    
}

.right{
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    justify-content: space-between;
    padding: 3px;

}
.operators{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    
}

.operator{
    background-color:rgb(159, 185, 208);
    height: 16%;
}
#equals{
    background-color: rgb(207, 230, 250);
    height: 16%;
}
#equals:hover{
    background-color: rgb(121, 204, 230);
}
.dv{
    width: 200px;
    height: 200px;
    padding: auto;
    background-color: pink;
    text-align: center;
   
}
button{
    height:100%;
    width: 100%;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    transform: scale(1.02);
    background-color: rgb(207, 230, 250);
    
}